*{
    		margin: 0;
    		padding: 0;
    	}
    	.acceuil{
    		background: linear-gradient(orange, yellow);
    		
    		height: 100vh;
    		
    		font-family: sans-serif;
    		position: relative;
    	}
    	h2 {
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    		font-size: 35px;
    		font-weight: 900;
    		color: white;
    	}

    	ul li{
    		position: absolute;
    		height: 20px;
    		width: 20px;
    		border: 1px solid #fff;
    		list-style: none;
    		opacity: 0;
    	}

    	/*----------------------------------------*/
    	/*----------Animation square--------------*/
    	.square li{
    		top: 10vh;
    		left: 20vw;
    		animation: square 5s linear infinite;
            -moz-animation: square 5s linear infinite;
    	}
		.square li:nth-child(2){
		    top: 50vh;
			left: 50vw;
			animation-delay: 4s;
		}
		.square li:nth-child(3){
		    top: 35vh;
			left: 65vw;
			animation-delay: 5s;
		}
		.square li:nth-child(4){
		    top: 75vh;
			left: 35vw;
			animation-delay: 2s;
		}
		.square li:nth-child(5){
		    top: 40vh;
			left: 80vw;
			animation-delay: 6s;
		}
		.square li:nth-child(7){
		    top: 55vh;
			left: 25vw;
			animation-delay: 7s;
		}



		/*----------------------------------------*/
    	/*----------Animation circle--------------*/

    	.circle li{
    		right:  80vw;
    		animation: circle 5s linear infinite;
            -moz-animation: circle 5s linear infinite;
    	}
		.circle li:nth-child(2){
			right: 70vw;
			animation-delay: 2s
		}
		.circle li:nth-child(3){
			right: 65vw;
			animation-delay: 4s
		}
		.circle li:nth-child(4){
			right: 35vw;
			animation-delay: 6s
		}
		.circle li:nth-child(5){
			right: 25vw;
			animation-delay: 4s
		}
		.circle li:nth-child(7){
			right: 50vw;
			animation-delay: 6s
		}
    	@keyframes square{
    		0%{
    			opacity: 1;
    			transform: scale(0) rotate(0);
                -moz-transform: scale(0) rotate(0);
    			
    		}
    		100%{
    			opacity: 0;
    			transform: scale(5) rotateY(1000deg); 
                -moz-transform: scale(5) rotate(1000deg);
    			background: aqua;
    		}
    	}

    	@keyframes circle{
    		0%{
    			opacity: 1;
    			transform: scale(0) rotate(0);
                -moz-transform: scale(0) rotate(0);
    			bottom: 0;
    			border-radius: 0;
    			
    		}
    		100%{
    			opacity: 0;
    			transform: scale(5) rotateY(1000deg);
                -moz-transform: scale(5) rotate(1000deg); 
    			bottom: 80vh;
    			border-radius: 50%;
    			background: red;
    		}
    	}